@font-face {
    font-family: "roboto";
    src: url("./fonts/roboto-regular-webfont.woff2") format("woff2"),
         url("./fonts/roboto-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("./fonts/roboto-medium-webfont.woff2") format("woff2"),
         url("./fonts/roboto-medium-webfont.woff") format("woff");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("./fonts/roboto-bold-webfont.woff2") format("woff2"),
         url("./fonts/roboto-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@import "./modules/node_modules/modern-normalize/modern-normalize.css";

*,
*::before,
*::after {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

:root {
    --sky-50: #f0f9ff;
    --sky-100: #e0f2fe;
    --sky-200: #bae6fd;
    --sky-300: #7dd3fc;
    --sky-400: #38bdf8;
    --sky-500: #0ea5e9;
    --sky-600: #0284c7;
    --sky-700: #0369a1;
    --sky-800: #075985;
    --sky-900: #0c4a6e;
    --sky-950: #082f49;
}

.page.dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar {
    border: 1px solid var(--sky-950);
    height: 100dvh;
    grid-row: 1 / 3;
    padding: 20px;
}

.header {
    border: 1px solid var(--sky-950);
    padding: 20px;

}

.main-content {
    border: 1px solid var(--sky-950);
    padding: 20px;
}
