@font-face {
    font-family: "roboto";
    src: url("./fonts/roboto-thin-webfont.woff2") format("woff2"),
         url("./fonts/roboto-thin-webfont.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("./fonts/roboto-light-webfont.woff2") format("woff2"),
         url("./fonts/roboto-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("./fonts/roboto-regular-webfont.woff2") format("woff2"),
         url("./fonts/roboto-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("./fonts/roboto-medium-webfont.woff2") format("woff2"),
         url("./fonts/roboto-medium-webfont.woff") format("woff");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url("./fonts/roboto-bold-webfont.woff2") format("woff2"),
         url("./fonts/roboto-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@import "./modules/node_modules/modern-normalize/modern-normalize.css";

*,
*::before,
*::after {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

:root {
    --sky-50: #f0f9ff;
    --sky-100: #e0f2fe;
    --sky-200: #bae6fd;
    --sky-300: #7dd3fc;
    --sky-400: #38bdf8;
    --sky-500: #0ea5e9;
    --sky-600: #0284c7;
    --sky-700: #0369a1;
    --sky-800: #075985;
    --sky-900: #0c4a6e;
    --sky-950: #082f49;
}

.page.dashboard {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: minmax(1fr, 300px) 4fr;
}

.sidebar {
    z-index: 2;
    min-width: 175px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    grid-row: 1 / 3;
    padding: 1em;
    background-color: var(--sky-500);
}

.sidebar svg {
    min-width: 1.5em;
    max-width: 1.5em;
    fill: var(--sky-50);
    justify-self: center;
}

.sidebar p {
    color: var(--sky-50);
    font-family: "roboto", system-ui, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    cursor: pointer;
}

.sidebar-dashboard,
.sidebar-navigation,
.sidebar-help {
    display: grid;
    grid-template-columns: 3.2em 4fr;
    align-items: center;
    row-gap: 0.9em;
}

.sidebar-dashboard svg {
    min-width: 3em;
    max-width: 3em;
}

.sidebar-dashboard p {
    font-size: 1.5em;
}

.sidebar svg:has(+ p:hover) {
    fill: var(--sky-950);
}

.sidebar p:hover {
    color: var(--sky-950);
}

.header {
    z-index: 1;
    padding: 1.5em 2em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    background-color: var(--sky-50);
    box-shadow: 0 5px 10px -10px var(--sky-950);
}

.search {
    padding: 1em;
    display: grid;
    grid-template-columns: 1.5em 1fr;
    align-items: center;
    gap: 1em;
}

.search svg {
    min-width: 1.5em;
    max-width: 1.5em;
    fill: var(--sky-950);
}

.search input[name="search"] {
    appearance: none;
    background-color: var(--sky-100);
    height: 1.5em;
    border: none;
    border-radius: 32px;
    font-family: "roboto";
    color: var(--sky-950);
    padding: 0.5em 1em;
}

.search input[name="search"]:focus {
    outline: none;
}

.user {
    padding: 1em;
    display: grid;
    grid-template-columns: 1.5em 2.5em 110px;
    align-items: center;
    justify-content: end;
    gap: 1em;
}

.user svg {
    fill: var(--sky-950);
    cursor: pointer;
}

.user p {
    font-family: "roboto", system-ui, Arial, Helvetica, sans-serif;
    color: var(--sky-950);
    cursor: pointer;
}

.user img {
    border-radius: 32px;
    cursor: pointer;
}

.user-info {
    padding: 0 1em;
    display: grid;
    grid-template-columns: 4em 1fr;
    align-items: center;
    gap: 1em;
}

.user-info img {
    border-radius: 32px;
}

.user-greeting p {
    font-family: "roboto", system-ui, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--sky-950);
}

.user-greeting p + p {
    font-size: 1.5em;
    color: var(--sky-950);
}

.buttons {
    padding: 0 1em;
    display: grid;
    grid-template-columns: repeat(3, 7em);
    align-items: center;
    justify-content: end;
    gap: 0.5em;
}

.buttons button {
    appearance: none;
    border: none;
    padding: 0.7em 2em;
    border-radius: 32px;
    background-color: var(--sky-500);
    color: var(--sky-50);
    cursor: pointer;
    max-width: 8em;
    font-family: "roboto", system-ui, Arial, Helvetica, sans-serif;
}

.buttons button:hover {
    background-color: var(--sky-950);
}

.main-content {
    padding: 2em 1em;
    background-color: var(--sky-100);
    display: grid;
    grid-template-columns: 2fr minmax(300px, auto);
}

.main-content-title {
    font-family: "roboto", system-ui, Arial, Helvetica, sans-serif;
    color: var(--sky-950);
    font-size: 1.1em;
    margin-bottom: 1em;
}

.projects {
    margin-bottom: 2em;
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50ch, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    row-gap: 2em;
    column-gap: 1em;
}

.project-card {
    padding: 2em 1.5em;
    background-color: var(--sky-50);
    border-radius: 12px;
    border-left: 6px inset var(--sky-950);
    font-family: "roboto", system-ui, Arial, Helvetica, sans-serif;
    color: var(--sky-950);
    box-shadow: 5px 5px 10px -10px var(--sky-950);
    display: grid;
}

.project-text {
    cursor: pointer;
}

.project-icons svg {
    cursor: pointer;
}

.project-text p + p {
    font-weight: 300;
    margin-bottom: 1em;
}

.project-icons {
    display: grid;
    grid-template-columns: repeat(3, 1.5em);
    fill: var(--sky-950);
    justify-content: end;
    align-items: center;
    column-gap: 1.5em;
    justify-self: end;
}

.announcements {
    padding: 0 1em;
    max-width: 400px;
}

.announcements-content {
    background-color: var(--sky-50);
    padding: 1.5em;
    border-radius: 12px;
    margin-bottom: 2em;
    box-shadow: 5px 5px 10px -10px var(--sky-950);
}

.announcements-content p:nth-child(odd) {
    font-family: "roboto", system-ui, Arial, Helvetica, sans-serif;
    color: var(--sky-950);
}

.announcements-content p:nth-child(even) {
    font-family: "roboto", system-ui, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    color: var(--sky-950);
    margin-bottom: 1.5em;
}

.announcements-content p:nth-last-child(2n + 3)::after {
    content: "";
    border: 1px solid var(--sky-100);
    border-radius: 32px;
    display: block;
    margin-top: 1.5em;
}

.trending {
    padding: 0 1em;
}

.trending-content {
    display: grid;
    grid-template-columns: 4em 1fr;
    row-gap: 1.5em;
    column-gap: 1em;
    align-items: center;
    padding: 1.5em;
    background-color: var(--sky-50);
    box-shadow: 5px 5px 10px -10px var(--sky-950);
    border-radius: 12px;
}

.trending-user {
    cursor: pointer;
}

.trending-content img {
    border-radius: 32px;
    cursor: pointer;
}

.trending-user p {
    font-family: "roboto", system-ui, Arial, Helvetica, sans-serif;
    color: var(--sky-950);
}

.trending-user p + p {
    font-weight: 300;
    font-size: 0.9em;
}